---
title: chillidonut
layout: home
---

<section id="projects">
  <h1>selected works</h1>
  <ul>
    {% for page in site.pages %}
      <li class="{{ page.class }}" data-page="{{ page.title | slugify }}">
        <div class="image cycle">
          {% for image in page.images %}
            <img src="{{ site.asseturls | sample }}/images/{{ image }}" />
          {% endfor %}
        </div>
        {% if page.shorttitle %}
          <h2 class="shorttitle">{{ page.shorttitle | xml_escape }}</h2>
          <h2 class="longtitle">{{ page.title | xml_escape }}</h2>
        {% else %}
          <h2>{{ page.title | xml_escape }}</h2>
        {% endif %}
        <h3>{{ page.subtitle }}</h3>
        <a href="{{ page.url }}" class="opentext">
          read more
        </a>
        <div class="content">
          {{ page.content }}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
