<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>chillidonut{% if page.title != "chillidonut" %} - {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  <link href="//cloud.webtype.com/css/72c358aa-8384-4692-b9ad-501d32afb223.css" rel="stylesheet" type="text/css" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
