<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body class="chillidonut">
  <link rel="author" href="https://tommckenzie.dev" />
  <link rel="me" href="https://tommckenzie.dev" />
  <section>
    {{ partial "header.html" . }}
  </section>

  <article>
    {{ .Content }}

    <div class="recent-posts section">
      <h2 class="section-header">
        {{ .Site.Params.homeHeader }}
      </h2>
      {{ partial "projects.html" . }}

      {{ template "partials/paginator.html" . }}
      </div>
    </div>
  </article>

  {{ partial "footer.html" . }}
</body>
</html>
