---
---

/*
from <http://matthewlein.com/ceaser/>:
   InOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000)
  - too much for the big effect, the "jump" is too sudden
*/
@mixin prefix($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -moz-#{$name}: $argument;
}

body {
  margin: 0;
  color: #201f1f;
  font-family: sans-serif;
  background-color: #fcfdff;
  background-attachment: fixed;
}
a, a:link, a:active, a:visited, a:hover {
  /*color: inherit;*/
  text-decoration: none;
  background-color: rgba(cyan, 0.2);
  padding: 4px;
  color: #111;
}
a:visited {
  color: darkrey;
}
a:hover {
  color: inherit;
  /* text-decoration: underline; */
  background-color: rgba(cyan, 0.8);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em 0 2em;
}

header {
  position: relative;
}
  header .container {
    position: relative;
    padding-top: 3em;
    border-bottom: 1px solid #dfe2e2;
  }

  header h1 {
    // font-size: 5em;
    font-family: 'Input Sans Cond Ex Lt', sans-serif;
    margin: 0.1em 0 0.3em;
    line-height: 1.5;

    color: black;

    // @include prefix(animation, scroll-bg 20s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0s infinite);
    /*
    text-indent: 50px;
    width: 960px;
    height: 190px;
    margin: 0px auto;
    border-bottom: 1px solid #dfe2e2;
    line-height: 190px;
    text-align: center;
    */
  }

  header p {}

  h1, h2, h3, .opentext, header, .datenotes, .image {
    font-family: 'Input Serif Cond', sans-serif;
    font-weight: normal;
  }
  p, ul, ol {
    font-family: 'Input Sans Cond Ex Lt', sans-serif;
  }

section {
  max-width: 960px;
  margin: 0px auto;
}
/*
// we absolutely position the items on load so animations work nicely... so this
// isn't the solution.
@media all and (min-width: 1280px) {
  section, header h1 {
    width: 1280px;
  }
}
@media all and (min-width: 1600px) {
  section, header h1 {
    width: 1600px;
  }
}
*/
section h1 {
  font-family: 'Input Sans Cond Ex Lt', sans-serif;
  font-weight: normal;
}
#projects > ul {
  margin: 0; padding: 0;
  list-style: none;
  position: relative;
  -webkit-perspective: 500;
}
#projects > ul > li {
  position: relative;
  float: left;
  width: 300px;
  height: 400px;
  margin-right: 20px;
  opacity: 1;
  overflow: hidden;
}
#projects.animated > ul > li {
  @include prefix(transition, all 0.5s ease 0s);
  /*-webkit-transition: top, left, width, height 0.5s ease 0s;*/
}
#projects > ul > li:nth-child(3n) {
  margin-right: 0px;
}
#projects > ul > li:nth-child(3n+1) {
  clear: left;
}
#projects > ul > li .image {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
#projects > ul > li:hover .image {
  height: 390px;
}
  #projects > ul > li.text .image {
    background-color: cyan;

    color: black;
    font-weight: bold;
  }
  #projects > ul > li.text .image span {
    font-size: 4em;
    display: block;
    line-height: 80%;
    padding: 0.2em 0.1em;
  }
#projects h2, #projects h3, #projects .opentext, #projects .description {
  position: absolute;
  left: 0;
  margin: 0;
  line-height: 150%;
  background-color: cyan;
  z-index: 2;
  @include prefix(transition, left 0.5s ease 0s);
  padding: 0px 2px;
}
.awardstar {
  font-size: 0.5em;
  vertical-align: middle;

  .active & {
    display: none;
  }
}
.awardlist {
  padding-left: 1em;

  li {
    list-style: none;
    padding-left: 0.4em;
  }
  li:before {
    padding-right: 0.5em;
    font-size: 0.5em;
    vertical-align: middle;
    content: '\2605  ';
  }
}

#projects > ul > li:hover h2,
#projects > ul > li:hover h3,
#projects > ul > li:hover .opentext {
  left: 8px;
}
#projects > ul > li:not(.active), #projects > ul > li.active .image {
  cursor: pointer;
}
#projects h2 {
  top: 300px;
}
#projects h2.longtitle {
  display: none;
}
#projects h3 {
  top: 330px;
  white-space: nowrap;
  /*-webkit-transition: all 0.4s ease 0.01s;*/
}
#projects > ul > li h3 .agency, #projects > ul > li .datenotes {
  opacity: 0;
}
#projects > ul > li .agency {
  display: none;
}
#projects > ul > li .datenotes {
  background-color: black;
}
#projects .content {
  position: absolute;
  top: 360px;
  left: 0px;
  /*-webkit-transition: all 0.4s ease 0.01s;*/
  opacity: 0;
  height: 0px;
  width: 480px;
}
#projects .opentext {
  display: block;
  z-index: 1;
  top: 300px;
  @include prefix(transition, all 0.5s ease 0s);
}
#projects > ul .opentext:hover {
  text-decoration: underline;
}
#projects > ul > li:hover .opentext {
  top: 357px;
}
#projects .image {
  position: relative;
  @include prefix(transition, #{width, height 0.5s ease 0s});

  img {
    position: absolute;
    @include prefix(transition, all 0.5s ease 0s);
  }

  /* some kind of slideshow */
  &.cycle {
    img {
      opacity: 0;
      @include prefix(animation, fade-image 20s ease 0s infinite);
    }
    img:nth-child(1) {
      opacity: 1 !important;
      // @include prefix(animation-delay, 0s);
      @include prefix(animation, none);
    }
    img:nth-child(2) {
      @include prefix(animation-delay, 5s);
    }
    img:nth-child(3) {
      @include prefix(animation-delay, 10s);
    }
    img:nth-child(4) {
      @include prefix(animation-delay, 15s);
    }
  }
}

  /* non-opened projects */
  #projects > ul.modal-active > li {
    opacity: 0.5;
    // @include prefix(transform, translateZ(-20px));
    -webkit-transform: translateZ(-20px);
    -ms-transform: translateZ(-20px);
    transform: translateZ(-20px);
  }
  #projects > ul.modal-active > li.active ~ li {
    opacity: 0.5;
    -webkit-transform: translateZ(-20px) translateY(400px);
    -ms-transform: translateZ(-20px) translateY(400px);
    transform: translateZ(-20px) translateY(400px);
  }

  /* opened project */
  #projects > ul > li.active {
    position: absolute;
    /*top: 0px !important;*/
    /*left: 50% !important;*/
    width: 960px;
    z-index: 10;
    /*background-color: black;*/
    opacity: 1;
    /*padding-bottom: 50px;*/
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: rgba(white, 0.5)
  }
  #projects > ul > li.active .image {
    background-position: 0px 0px;
    /*float: left;*/
    height: 100%;
    width: 450px;
  }
  #projects > ul li.active:hover .image {
    /*height: 500px;*/
    height: 100%;
  }
  #projects > ul > li.active h2,
  #projects > ul > li.active h3,
  #projects > ul > li.active .content {
    left: 470px;
    background-color: transparent;
    /*width: 450px;*/
    -webkit-transition: none;
  }
  #projects > ul > li.active h2 {
    font-size: 2em;
    top: 5px;
    font-weight: bold;
    white-space: nowrap;
  }
  #projects > ul > li.active h2.shorttitle {
    display: none;
  }
  #projects > ul > li.active h2.longtitle {
    display: block;
  }
  #projects > ul > li.active h3 {
    font-size: 1.5em;
    top: 45px;
    font-weight: bold;
  }
  #projects > ul > li.active h3 .agency {
    opacity: 0.9;
    width: 270px;
    font-weight: normal;
    display: inline;
  }
  #projects > ul > li.active .content {
    top: 80px;
    width: 450px;
    height: auto;
    opacity: 1;
    line-height: 130%;
  }
  #projects > ul > li.active .content .description, #projects > ul > li.active .datenotes {
    background-color: transparent;
  }
  #projects > ul > li.active .datenotes {
    opacity: 1;
  }
  #projects > ul > li.active .opentext {
    display: none;
  }
  #projects > ul > li.active .content ul {
    list-style-type: disc;
    margin-right: 1em;
    font-size: 0.9em;
  }

  @media all and (max-width: 980px) {
    section, header, article {
      padding-left: 10px;
      padding-right: 10px;
    }
    #projects > ul > li {
      width: 100%;
      height: 150px;
      margin-right: 0px;
    }
    #projects > ul > li .opentext {
      position: absolute;
      top: 0 !important;
      left: 0 !important;
      right: 0;
      bottom: 0;
      opacity: 0;
      overflow: hidden;
      text-indent: 9999in;
    }
    #projects h2 {
      top: auto;
      bottom: 30px;
      left: 5px;
    }
    #projects h3 {
      top: auto;
      bottom: 5px;
      left: 5px;
      white-space: nowrap;
      /*-webkit-transition: all 0.4s ease 0.01s;*/
    }
    #projects > ul > li:hover h2,
    #projects > ul > li:hover h3 {
      // left: 14px;
    }
    #projects > ul > li .image {
      width: 100%;
      height: 150px;
    }
    #projects > ul > li:hover .image {
      height: 390px;
    }
    #projects > ul > li .image img {
      width: 100%;
      height: auto !important;
      left: 0 !important;
    }
    #projects > ul > li.active {
      /* width: 100%; */
    }
  }
  @media all and (max-width: 500px) {
    #projects h2 {
      font-size: 5vw;
      bottom: 20px;
      // bottom: 20%;
    }
    #projects h3 {
      font-size: 4vw;
      // bottom: 5%;
    }
  }

  /* projects list */
  #projects .a4l {
    &.active {
      height: 475px;
    }

    img {
      left: -130px;
      top: -58px;
      width: auto;
      height: 450px;
    }
    &.active img {
      left: -250px;
      top: -63px;
      height: 490px;
    }

    img:nth-child(1) {
      left: -70px;
      top: 0px;
      height: 410px;
    }
    &.active img:nth-child(1) {
      left: -255px;
      top: -60px;
      height: 550px;
    }

    img:nth-child(3) {
      left: -390px;
      top: -60px;
      height: 460px;
    }
    &.active img:nth-child(3) {
      left: -80px;
      top: 0px;
      height: 400px;
    }
  }

  #projects .mario {
    &.active {
      height: 525px;
    }

    img {
      left: -190px;
      top: 0px;
      width: auto;
      height: 390px;
    }
    &.active img {
      left: -120px;
      top: 0px;
      height: 450px;
    }

    img:nth-child(1) {
      left: -120px;
      top: -15px;
      height: 405px;
    }
    &.active img:nth-child(1) {
      left: -50px;
      top: -10px;
    }

    &.active img:nth-child(3) {
      left: -300px;
    }

    img:nth-child(4) {
      left: -91px;
      top: -0px;
      height: 400px;
    }
    &.active img:nth-child(4) {
      left: -240px;
      top: 0px;
    }
  }

  #projects .domy {
    img {
      left: 0px;
      top: -1px;
      width: auto;
      height: 550px;
    }
    &.active img {
      // left: -140px;
      // top: -25px;
      height: 400px;
    }

    &.active img:nth-child(1) {
      // left: -330px;
      // top: 0px;
    }

    &.active img:nth-child(3) {
      // left: -240px;
      // top: 0px;
    }
  }

  #projects .maxs {
    &.active {
      height: 440px;
    }

    img {
      left: -206px;
      top: 0px;
    }
    &.active img {
      left: -210px;
      top: 0px;
    }
  }
  #projects .zelda {
    img {
      left: -41px;
      top: -0px;
    }
    &.active img {
      left: -65px;
      top: -0px;
    }
  }
  #projects .saga {
    img {
      left: 0px;
      top: -20px;
      width: auto;
      height: 550px;
      // height: 400px;
    }
    &.active img {
      height: 400px;
    }



    &.active img:nth-child(1) {
      left: -220px;
      top: -90px;
      height: 500px;
    }

    &.active img:nth-child(2) {
      left: -210px;
      top: -20px;
      height: 500px;
    }

    img:nth-child(3) {
      left: -586px;
      top: -150px;
      height: 540px;
    }
    &.active img:nth-child(3) {
      left: -235px;
      top: -120px;
    }

    img:nth-child(4) {
      left: -330px;
      top: -40px;
      height: 430px;
    }
    &.active img:nth-child(4) {
      left: -185px;
      top: 0px;
      height: 400px;
    }
  }


@-webkit-keyframes fade-image {
  0% { opacity: 0; }
  5% { opacity: 1; }

  // math says 25% but we see image1 through the
  // combined transitioning transparencies
  // mucks up fade TO image1 though. hmm.
  27% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

article .description {
  padding-bottom: 1em;
  border-bottom: 1px solid #dfe2e2;
  margin-bottom: 2em;
}

article img {
  max-width: 100%;
}
