<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>chillidonut</title>
  <link rel="stylesheet" type="text/css" href="assets/main.css" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <script src="assets/zepto.min.js"></script>
  <script src="assets/script.js"></script>
</head>
<body>
<!--
  - remove animation on titles returning from active
  - add varying classes of thing: tumblr image post, tubmlr text post, twitter
    see images/misc/* and existing tumblr content

low-pri:
  - scrollTop animation needs to match css animation more closely

-->
<header><div class="container">
  <div id="donut">
    <!-- i.circle*28>i.rotor>i.dot*14
    you can pretty much scroll right past this -->
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
    <i class="circle"><i class="rotor">
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i><i class="dot"></i><i class="dot"></i>
        <i class="dot"></i><i class="dot"></i>
      </i></i>
  </div>
  <h1>
    chillidonut
  </h1>
  <p>
    I'm Tom McKenzie &mdash; I love working on cool products on the web and have fun doing it.
  </p>
  <p>
    If you'd like to work or play with me, <a href="mailto:tom@chillidonut.com">get in touch</a>.
  </p>
  <nav>
    <ul>
      <li class="icon-github"><a href="http://github.com/grrowl" target="_blank">github</a></li>
      <li class="icon-twitter"><a href="http://twitter.com/grrowl" target="_blank">twitter</a></li>
    </ul>
  </nav>
</div></header>
<section id="projects">
  <h1>selected works</h1>
  <ul id="projectlist">
    <li class="mario">
      <div class="image cycle">
        <img src="images/mario/mario1.jpg" />
        <img src="images/mario/mario2.jpg" />
        <img src="images/mario/mario3.jpg" />
        <img src="images/mario/mario4.jpg" />
      </div>
      <h2>Mario Kart Wii</h2>
      <h3>Nintendo Australia <span class="agency">for
        <a href="http://www.blissmedia.com.au/">Blissmedia</a>
      </span></h3>
      <div class="opentext">read more</div>
      <div class="content">
        <div class="datenotes">
          April 2011 - Front-end development, User Experience, Facebook API
        </div>
        <div class="description">
          <p>
            Nintendo wanted to push the limits of what could be accomplished with their latest game site for Mario Kart Wii. They gave us the vision of pushing the 'three dimensional' envelope, I smashed together a parallax proof-of-concept and we ran with it.
          </p>
          <p>
            Includes Facebook application to allow users to 'attack' or 'defend' by posting
            Mario Kart items on friends' and thier own walls, leading to tens of thousands of impressions. Compatible with IE7 while leveraging <small>[at the time]</small> cutting-edge features like <code>requestAnimationFrame</code> and HTML5 video.
          </p>
          <!--
          <ul>
            <li>Winner of Awwwards site of the day June 6th</li>
            <li>FWA site of the day July 1st. Winner MADC Awards 2011 (Silver - Best microsite)</li>
          </ul>
          -->
          <p>
            <a href="http://www.nintendo.com.au/gamesites/mariokartwii/"
              target="_blank">Visit site</a>
          </p>
        </div>
      </div>
    </li>
    <li class="domy">
      <div class="image cycle">
        <img src="images/domy/domy1.jpg" />
        <img src="images/domy/domy2.jpg" />
        <img src="images/domy/domy3.jpg" />
      </div>
      <h2>Domy Na Wzgorzu</h2>
      <h3>
        Project <span class="agency">
          with <a href="http://www.saganowski.com/" target="_blank">Michael Saganowski</a>
        </span>
      </h3>
      <div class="opentext">read more</div>
      <div class="content">
        <div class="datenotes">July 2011 - Front-end development</div>
        <div class="description">
          <p>
            One of the best designers I've worked with wanted to collaborate on client project; while not meant to be expensive or flashy, we were able to add a number of little tweaks to give it a bit of personality and boost usability.
          </p>
          <!--
          <blockquote>quote</blockquote>
          <cite>&mdash; Saga, best designer ever</cite>
          -->
          <p>
            <a href="http://www.domynawzgorzu.pl/" target="_blank">Visit site</a>
          </p>
        </div>
      </div>
    </li>
    <li class="maxs">
      <div class="image">
        <img src="images/maxs/maxs.jpg" />
      </div>
      <h2>Max's 12 Week Challenge</h2>
      <h3>Max's Protein <span class="agency">for
        <a href="http://www.blissmedia.com.au/">Blissmedia</a>
      </span></h3>
      <div class="opentext">read more</div>
      <div class="content">
        <div class="datenotes">
          July 2012 - Front-end and back-end (PHP/MSSQL) development, Facebook integration
        </div>
        <div class="description">
          <p>
            A totally custom social network implementation where challengers can post blogs, complete with photos and videos, to showcase their incredible transformations during the 12 week challenge, as well as comment and encourage eachother.
          </p>
          <p>
            Included Facebook Login functionality which pre-fills user-allowed information from profile and multiple major stages which evolved core functionality of the site seamlessly. The final round included several stages of voting (which was met with great demand) and meeting the challenges of scale.
          </p>
        </div>
      </div>
    </li>
    <li class="zelda">
      <div class="image">
        <img src="images/zelda/zelda.jpg" />
      </div>
      <h2>Zelda: Ocarina of Time</h2>
      <h3>Nintendo Australia</h3>
      <div class="opentext">read more</div>
      <div class="content">
        <div class="datenotes">June 2011 - Front-end development</div>
        <div class="description">
          <p>
            Another minisite for Nintendo Australia.
          </p>
          <p>
            <a href="http://gamesites.nintendo.com.au/the-legend-of-zelda-ocarina-of-time-3d/en_AU/"
            target="_blank">Visit site</a>
          </p>
        </div>
      </div>
    </li>
    <li class="saga">
      <div class="image cycle">
        <img src="images/saga/saga1.jpg" />
        <img src="images/saga/saga4.jpg" />
        <img src="images/saga/saga3.jpg" />
        <img src="images/saga/saga5.jpg" />
      </div>
      <h2>saganowski&amp;Co</h2>
      <h3>Saganowski Brothers</h3>
      <div class="opentext">read more</div>
      <div class="content">
        <div class="datenotes">March 2012 - Front-end development and User Experience</div>
        <div class="description">
          <p>
            A bold, interactive experience to showcase the strong design and
            provide deep interactivity as the user explores the site. Lots of little touches
            in the movement between sections, animations to explain each point and
            the 10-foot slideshow.
          </p>
          <p>
            <a href="http://www.saganowski.com/" target="_blank">Visit site</a>
          </p>
        </div>
      </div>
    </li>
    <!--
    <li class="text">
      <div class="image"><span>Review: Mario Kart Wii Development</span></div>
      <h2>Mario Kart Wii Development</h2>
      <h3>06 June</h3>
      <div class="opentext">read more</div>
      <div class="content">
        <div class="datenotes">June 2011 - HTML / CSS / UX / FB API</div>
        <div class="description">
          <p>This was a thing, we did a thing, lorem ipsum, randy rando paragraph text</p>
        </div>
      </div>
    </li>
    -->
  </ul>
</section>
<footer>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-602554-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</footer>
</body>
</html>
