<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>chillidonut</title>
  <link rel="stylesheet" type="text/css" href="assets/main.css" />
  <link href="http://fonts.googleapis.com/css?family=Pontano+Sans&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<header><div class="container">
  <!-- welcome -->
  <h1>
    chillidonut
  </h1>
  <p>
    Hi, I'm Tom McKenzie &mdash; I love making awesome internet and I have heaps of fun doing it.
  </p>
  <p>
    If you'd like to work or play, <a href="mailto:tom@chillidonut.com">get in touch</a>.
  </p>
  <nav>
    <ul>
      <li class="icon-github"><a href="http://github.com/grrowl" target="_blank">github</a></li>
      <li class="icon-twitter"><a href="http://twitter.com/grrowl" target="_blank">twitter</a></li>
      <li><a href="http://thisdevblog.tumblr.com/" target="_blank">devblog</a></li>
      <li><a href="resume.html" target="_blank">curriculum vitae</a></li>
    </ul>
  </nav>
</div></header>
{{content}}

<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>window.jQuery || document.write('<script src="assets\/jquery-2.1.0.min.js"><\/script>');</script>
<script src="assets/script.js?v=1"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-602554-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
