---
layout: compress
---

{% include head.html %}
<header><div class="container">
  <!-- {{ site.mwehehe | sample }} -->
  <h1>
    <a href="/">chillidonut</a>
  </h1>
  <p>
    <a href="mailto:tom@chillidonut.com">get in touch</a>
    <a href="http://github.com/grrowl" target="_blank">github</a>
    <a href="http://twitter.com/grrowl" target="_blank">twitter</a>
    <a href="http://blog.chillidonut.com/" target="_blank">devtumblr</a>
    <a href="resume.html" target="_blank">curriculum vitae</a>
  </p>
</div></header>

<article>
  <div class="container">
    <h1>{{ page.title | xml_escape }}</h1>
    <h3>{{ page.subtitle }}</h3>

    {{ content }}

    {% for image in page.images %}
      <img src="{{ site.asseturl }}/images/{{ image }}" />
    {% endfor %}
  </div>
</article>

{% include foot.html skipjs="yes" %}
